<div class="w-75 mx-auto mt-1">
    <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
      <div style="width: 25%; padding: 1rem;">
          <button class="btn btn-secondary w-100" (click)="byCerMode1()">UserSkill
              <span style="float: right; cursor: pointer;">
                  <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !cerMode1, 'fa-caret-up' : cerMode1}"></i>
              </span>
          </button>
      </div>
      <div style="width: 25%; padding: 1rem;">
          <button class="btn btn-secondary w-100" (click)="byCerMode2()">SkillLevel
              <span style="float: right; cursor: pointer;">
                  <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !cerMode2, 'fa-caret-up' : cerMode2}"></i>
              </span>
          </button>
      </div>
      <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byCerMode3()">DateOfIssue
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !cerMode3, 'fa-caret-up' : cerMode3}"></i>
            </span>
        </button>
      </div>
      <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byCerMode4()">ExpiryDate
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !cerMode4, 'fa-caret-up' : cerMode4}"></i>
            </span>
        </button>
      </div>
      <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byCerMode5()">PublisherNSN
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !cerMode5, 'fa-caret-up' : cerMode5}"></i>
            </span>
        </button>
      </div>
      <div style="width: 25%; padding: 1rem;">
          <button class="btn btn-secondary w-100" (click)="changeUIMode()">{{interfaceTitle}}
              <span style="float: right; cursor: pointer;">
                  <i [ngClass] = "{'fas' : true, 'fa-table' : !interfaceMode, 'fa-th' : interfaceMode}"></i>
              </span>
          </button>
      </div>
    </div>

    <div *ngIf="interfaceMode" style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
      <div style="width: 25%;" *ngFor="let certif of mycertificatesDTO let in=index">
          <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
              <div><strong>UserSkill: </strong>{{certif?.skillName}}</div>
              <div><strong>SkillLevel: </strong>{{skillLevels[in]}}</div>
              <div><strong>DateOfIssue: </strong>{{certif?.dateOfIssue.toISOString().slice(0, 10)}}</div>
              <div><strong>ExpiryDate: </strong>{{certif?.expiryDate.toISOString().slice(0, 10)}}</div>
              <div><strong>PublisherNSN: </strong>{{certif?.publisherNSN}}</div>
              <div>
                <i class="fas fa-print" (click)="printCertif(certif)"></i>
              </div>
          </div>
      </div>
    </div>

    <table *ngIf="!interfaceMode" class="table table-striped mt-1">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">UserSkill</th>
          <th scope="col">SkillLevel</th>
          <th scope="col">DateOfIssue</th>
          <th scope="col">ExpiryDate</th>
          <th scope="col">PublisherNSN</th>
        </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let certif of mycertificatesDTO let in=index">
              <tr>
                  <td>{{in + 1}}</td>
                  <td>{{certif?.skillName}}</td>
                  <td>{{skillLevels[in]}}</td>
                  <td >{{certif?.dateOfIssue.toISOString().slice(0, 10)}}</td>
                  <td >{{certif?.expiryDate.toISOString().slice(0, 10)}}</td>
                  <td >{{certif?.publisherNSN}}
                    <span style="float: right; cursor: pointer;">
                      <i class="fas fa-print" (click)="printCertif(certif)"></i></span>
                  </td>
              </tr>
          </ng-container>
      </tbody>
    </table>
  </div>
