<div style="width: 85%;" class="mx-auto mt-1">
    <!--<div class="row">
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectTrTable()" [disabled]="trTable" >Trainings</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectTrMemTable()" [disabled]="trmemTable" >TrainingMembers</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectRecTable()" [disabled]="recTable" >Recommendations</button>
        </div>
    </div>-->

    <div *ngIf="trTable" class="row mt-4">

        <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-warning w-100" (click)="openCreateModal()">Create training
                    <span style="float: right; cursor: pointer;">
                        <i title="Create training" class="fas fa-plus-circle"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode1()">TrainingTitle
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode1, 'fa-caret-up' : trmode1}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode2()">TrainingLevel
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode2, 'fa-caret-up' : trmode2}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode3()">StartDate
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode3, 'fa-caret-up' : trmode3}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode4()">EndDate
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode4, 'fa-caret-up' : trmode4}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode5()">Payment
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode5, 'fa-caret-up' : trmode5}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode6()">Coach
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode6, 'fa-caret-up' : trmode6}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode7()">Category
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode7, 'fa-caret-up' : trmode7}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100" (click)="byTrMode8()">Description
                    <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode8, 'fa-caret-up' : trmode8}"></i>
                    </span>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
            <div style="width: 25%;" *ngFor="let tr of trainingDTOs let in=index">
                <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
                    <div><strong>TrainingTitle: </strong>{{tr.trainingTitle}}</div>
                    <div><strong>TrainingLevel: </strong>{{trLevels[in]}}</div>
                    <div><strong>StartDate: </strong>{{tr.startDate.toISOString().slice(0, 10)}}</div>
                    <div><strong>EndDate: </strong>{{tr.endDate.toISOString().slice(0, 10)}}</div>
                    <div><strong>Payment: </strong>{{tr.payment}}</div>
                    <div><strong>Coach: </strong>{{tr.coachNSN}}</div>
                    <div><strong>Category: </strong>{{tr.categoryTitle}}</div>
                    <div><strong>Description: </strong>{{tr.description}}</div>
                    <div>
                      <i (click)="showTrMembers(tr)" class="ml-1 fas fa-user-friends"></i>
                      <i (click)="showTrRecs(tr)" class="ml-1 fas fa-receipt"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col">#<span style="float: right; cursor: pointer;"><i (click)="openCreateModal()" class="fas fa-plus-circle"></i></span></th>
                <th scope="col">TrainingTitle<span style="float: right; cursor: pointer;"><i (click)="byTrMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode1, 'fa-caret-up' : trmode1}"></i></span></th>
                <th scope="col">TrainingLevel<span style="float: right; cursor: pointer;"><i (click)="byTrMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode2, 'fa-caret-up' : trmode2}"></i></span></th>
                <th scope="col">StartDate<span style="float: right; cursor: pointer;"><i (click)="byTrMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode3, 'fa-caret-up' : trmode3}"></i></span></th>
                <th scope="col">EndDate<span style="float: right; cursor: pointer;"><i (click)="byTrMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode4, 'fa-caret-up' : trmode4}"></i></span></th>
                <th scope="col">Payment<span style="float: right; cursor: pointer;"><i (click)="byTrMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode5, 'fa-caret-up' : trmode5}"></i></span></th>
                <th scope="col">Coach<span style="float: right; cursor: pointer;"><i (click)="byTrMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode6, 'fa-caret-up' : trmode6}"></i></span></th>
                <th scope="col">Category<span style="float: right; cursor: pointer;"><i (click)="byTrMode7()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode7, 'fa-caret-up' : trmode7}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let tr of trainingDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{tr.trainingTitle}}</td>
                        <td>{{tr.trainingLevel}}</td>
                        <td>{{tr.startDate.toISOString().slice(0, 10)}}</td>
                        <td>{{tr.endDate.toISOString().slice(0, 10)}}</td>
                        <td>{{tr.payment}}</td>
                        <td>{{tr.coachNSN}}</td>
                        <td>{{tr.categoryTitle}}<span style="float: right; cursor: pointer;"><i (click)="changemodearr(tr)" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trainingMode[in], 'fa-caret-up' : trainingMode[in]}"></i><i (click)="showTrMembers(tr)" class="ml-1 fas fa-user-friends"></i><i (click)="showTrRecs(tr)" class="ml-1 fas fa-receipt"></i></span></td>
                    </tr>
                    <tr>
                        <td colspan="8" *ngIf="trainingMode[in]">{{tr.description}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>

    <div *ngIf="trmemTable" class="row mt-4">

          <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
              <div style="width: 25%; padding: 1rem;">
                  <button class="btn btn-warning w-100" (click)="selectTrTable()">Back to trainings
                      <span style="float: right; cursor: pointer;">
                        <i title="Back to trainings" class="fas fa-caret-square-left mr-1"></i>
                      </span>
                  </button>
              </div>
              <div style="width: 25%; padding: 1rem;">
                  <button class="btn btn-secondary w-100" (click)="byMemMode1()">TrainingTitle
                      <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !memmode1, 'fa-caret-up' : memmode1}"></i>
                      </span>
                  </button>
              </div>
              <div style="width: 25%; padding: 1rem;">
                  <button class="btn btn-secondary w-100" (click)="byMemMode2()">Member
                      <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !memmode2, 'fa-caret-up' : memmode2}"></i>
                      </span>
                  </button>
              </div>
              <div style="width: 25%; padding: 1rem;">
                  <button class="btn btn-secondary w-100" (click)="byMemMode3()">IsEnded
                      <span style="float: right; cursor: pointer;">
                        <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !memmode3, 'fa-caret-up' : memmode3}"></i>
                      </span>
                  </button>
              </div>
          </div>

          <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
            <div style="width: 25%;" *ngFor="let trmem of showTrainingMemberDTOs let in=index">
                <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
                    <div><strong>TrainingTitle: </strong>{{trmem.trainingTitle}}</div>
                    <div><strong>Member: </strong>{{trmem.memberNSN}}</div>
                    <div><strong>IsEnded: </strong>{{trmem.isEnded}}</div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col"><span style="float: left; cursor: pointer;"><i (click)="selectTrTable()" class="fas fa-caret-square-left mr-1"></i></span>#</th>
                <th scope="col">TrainingTitle<span style="float: right; cursor: pointer;"><i (click)="byMemMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !memmode1, 'fa-caret-up' : memmode1}"></i></span></th>
                <th scope="col">MemberNSN<span style="float: right; cursor: pointer;"><i (click)="byMemMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !memmode2, 'fa-caret-up' : memmode2}"></i></span></th>
                <th scope="col">IsEnded<span style="float: right; cursor: pointer;"><i (click)="byMemMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !memmode3, 'fa-caret-up' : memmode3}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let trmem of showTrainingMemberDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{trmem.trainingTitle}}</td>
                        <td>{{trmem.memberNSN}}</td>
                        <td>{{trmem.isEnded}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>
    
    <div *ngIf="recTable" class="row mt-4">

      <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
        <div style="width: 25%; padding: 1rem;">
            <button class="btn btn-warning w-100">Back to trainings
                <span style="float: right; cursor: pointer;">
                  <i title="Back to trainings" (click)="selectTrTable()" class="fas fa-caret-square-left mr-1"></i>
                </span>
            </button>
        </div>
        <div style="width: 25%; padding: 1rem;">
          <button class="btn btn-warning w-100" (click)="openCreateRecModal()">Create recommendation
              <span style="float: right; cursor: pointer;">
                <i title="Create recommendation" class="fas fa-plus-circle"></i>
              </span>
          </button>
        </div>
        <div style="width: 25%; padding: 1rem;">
            <button class="btn btn-secondary w-100" (click)="byRecMode1()">TrainingTitle
                <span style="float: right; cursor: pointer;">
                  <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !recmode1, 'fa-caret-up' : recmode1}"></i>
                </span>
            </button>
        </div>
        <div style="width: 25%; padding: 1rem;">
            <button class="btn btn-secondary w-100" (click)="byRecMode2()">Invitation
                <span style="float: right; cursor: pointer;">
                  <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !recmode2, 'fa-caret-up' : recmode2}"></i>
                </span>
            </button>
        </div>
    </div>

    <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
      <div style="width: 25%;" *ngFor="let rec of showRecommendationDTOs let in=index">
          <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
              <div><strong>TrainingTitle: </strong>{{rec.trainingTitle}}</div>
              <div><strong>Invitation: </strong>{{rec.invitation}}</div>
              <div><strong>Employee: </strong>{{rec.employeeNSN}}</div>
          </div>
      </div>
  </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col"><span style="float: left; cursor: pointer;"><i (click)="selectTrTable()" class="fas fa-caret-square-left mr-1"></i></span>#<span style="float: right; cursor: pointer;"><i (click)="openCreateRecModal()" class="fas fa-plus-circle"></i></span></th>
                <th scope="col">TrainingTitle<span style="float: right; cursor: pointer;"><i (click)="byRecMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !recmode1, 'fa-caret-up' : recmode1}"></i></span></th>
                <th scope="col">Invitation<span style="float: right; cursor: pointer;"><i (click)="byRecMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !recmode2, 'fa-caret-up' : recmode2}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let rec of showRecommendationDTOs let in=index">
                    <tr>
                        <td style="width: 10%;">{{in + 1}}</td>
                        <td>{{rec.trainingTitle}}</td>
                        <td>{{rec.invitation}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>

</div>

<ng-template #trModal let-modal class="w-50">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create training</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="TrainingTitle">TrainingTitle</label>
            <input type="text" class="form-control" id="TrainingTitle" placeholder="Enter here certificate text" name="TrainingTitle" [(ngModel)]="newtrainingDTO.trainingTitle">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" placeholder="Enter here certificate text" name="Description" [(ngModel)]="newtrainingDTO.description">
        </div>
        <div class="form-group">
            <label for="TrainingLevel">TrainingLevel</label>
            <div class="input-group">
                <div class="w-100">
                  <select class="form-control custom-select" id="TrainingLevel" name="TrainingLevel" [(ngModel)]="selectedTrLevel">
                    <option [value]="1" selected>Beginner</option>
                    <option [value]="2">Elementary</option>
                    <option [value]="3">Intermediate</option>
                    <option [value]="4">Advanced</option>
                    <option [value]="5">Proficiency</option>
                  </select>
                </div>
            </div>
            <!--<input type="number" min="1" max="5" class="form-control" id="TrainingLevel" placeholder="Enter here certificate text" name="TrainingLevel" [(ngModel)]="newtrainingDTO.trainingLevel">-->
        </div>
        <div class="form-row">
            <div class="form-group col">
              <label for="StartDate">Start Date</label>
              <input type="date" class="form-control" id="StartDate" placeholder="Enter start date" name="usStart" [(ngModel)]="newtrainingDTO.startDate">
            </div>
            <div class="form-group col">
              <label for="EndDate">End Date</label>
              <input type="date" class="form-control" id="EndDate" placeholder="Enter end date" name="usEnd" [(ngModel)]="newtrainingDTO.endDate">
            </div>
        </div>
        <div class="form-group">
            <label for="Payment">Payment</label>
            <input type="number" class="form-control" id="Payment" placeholder="Enter here certificate text" name="Payment" [(ngModel)]="newtrainingDTO.payment">
        </div>

        <div class="form-group">
            <label for="Category">Category</label>
            <div class="input-group">
              <div class="w-100">
                <select class="form-control custom-select" id="Category" name="Category" [(ngModel)]="newtrainingDTO.idCategory">
                  <option *ngFor="let ct of categoryDTOs let in=index" [value]="ct.id">{{ct.title}}</option>
                </select>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createTraining()">Save</button>
    </div>
  </ng-template>

  <ng-template #recModal let-modal class="w-50">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create recommendation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="Invitation">Invitation</label>
            <input type="text" class="form-control" id="Invitation" placeholder="Enter here certificate text" name="Invitation" [(ngModel)]="newrecommendationDTO.invitation">
        </div>

        <div class="form-group">
            <label for="RecTrainingTitle">TrainingTitle</label>
            <div class="input-group">
              <div class="w-100">
                <select class="form-control custom-select" id="RecTrainingTitle" name="RecTrainingTitle" [(ngModel)]="newrecommendationDTO.idTraining">
                  <option *ngFor="let tr of trainingDTOs let in=index" [value]="tr.id">{{tr.trainingTitle}}</option>
                </select>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createRecommendation()">Save</button>
    </div>
  </ng-template>
