<div style="width: 85%;" class="mx-auto mt-1">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectTrTable()" [disabled]="trTable" >Trainings</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectMyRecTable()" [disabled]="mytrTable" >MyTrainings</button>
        </div>
        <!--<div class="col">
            <button class="btn btn-primary w-100" (click)="selectRecTable()" [disabled]="recTable" >Recommendations</button>
        </div>-->
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Category">Category</label>
                <div class="input-group">
                  <div class="w-100">
                    <select class="form-control custom-select" id="Category" name="Category" (change)="filterByCategory($event.target.value)" [(ngModel)]="selectcategory">
                      <option *ngFor="let ct of categoryDTOs let in=index" [value]="ct.id">{{ct.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Coach">Coach</label>
                <div class="input-group">
                  <div class="w-100">
                    <select class="form-control custom-select" id="Coach" name="Coach" (change)="filterByEmployer($event.target.value)" [(ngModel)]="selectemployer">
                      <option *ngFor="let ct of employerDTOs let in=index" [value]="ct.id">{{ct.firstname + ' ' + ct.lastname}}</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="TrainingLevel">TrainingLevel</label>
                <div class="input-group">
                  <div class="w-100">
                    <select class="form-control custom-select" id="TrainingLevel" name="TrainingLevel" (change)="filterBySkillLevel($event.target.value)" [(ngModel)]="filterLevel">
                      <option *ngFor="let ct of filterSkillLevels let in=index" [value]="ct">{{ct}}</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <button style="margin-top: 2rem;" class="btn btn-primary w-100" (click)="loadData()">Reset</button>
        </div>
    </div>

    <div *ngIf="trTable" class="row mt-4">
        <table class="table table-striped w-100">
            <thead>
                <th scope="col">#</th>
                <th scope="col">TrainingTitle<span style="float: right; cursor: pointer;"><i (click)="byTrMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode1, 'fa-caret-up' : trmode1}"></i></span></th>
                <th scope="col">TrainingLevel<span style="float: right; cursor: pointer;"><i (click)="byTrMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode2, 'fa-caret-up' : trmode2}"></i></span></th>
                <th scope="col">StartDate<span style="float: right; cursor: pointer;"><i (click)="byTrMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode3, 'fa-caret-up' : trmode3}"></i></span></th>
                <th scope="col">EndDate<span style="float: right; cursor: pointer;"><i (click)="byTrMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode4, 'fa-caret-up' : trmode4}"></i></span></th>
                <th scope="col">Payment<span style="float: right; cursor: pointer;"><i (click)="byTrMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode5, 'fa-caret-up' : trmode5}"></i></span></th>
                <th scope="col">Coach<span style="float: right; cursor: pointer;"><i (click)="byTrMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode6, 'fa-caret-up' : trmode6}"></i></span></th>
                <th scope="col">Category<span style="float: right; cursor: pointer;"><i (click)="byTrMode7()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trmode7, 'fa-caret-up' : trmode7}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let tr of trainingDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{tr.trainingTitle}}</td>
                        <td>{{trLevels[in]}}</td>
                        <td>{{tr.startDate.toISOString().slice(0, 10)}}</td>
                        <td>{{tr.endDate.toISOString().slice(0, 10)}}</td>
                        <td>{{tr.payment}}</td>
                        <td>{{tr.coachNSN}}</td>
                        <td>{{tr.categoryTitle}}<span style="float: right; cursor: pointer;"><i (click)="changemodearr(tr)" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trainingMode[in], 'fa-caret-up' : trainingMode[in]}"></i><i (click)="goToTraining(tr)" class="ml-1 fas fa-arrow-right"></i></span></td>
                    </tr>
                    <tr>
                        <td colspan="8" *ngIf="trainingMode[in]">{{tr.description}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div *ngIf="mytrTable" class="row mt-4">
        <table class="table table-striped w-100">
            <thead>
                <th scope="col">#</th>
                <th scope="col">TrainingTitle<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode1, 'fa-caret-up' : mytrmode1}"></i></span></th>
                <th scope="col">TrainingLevel<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode2, 'fa-caret-up' : mytrmode2}"></i></span></th>
                <th scope="col">StartDate<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode3, 'fa-caret-up' : mytrmode3}"></i></span></th>
                <th scope="col">EndDate<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode4, 'fa-caret-up' : mytrmode4}"></i></span></th>
                <th scope="col">Payment<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode5, 'fa-caret-up' : mytrmode5}"></i></span></th>
                <th scope="col">Coach<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode6, 'fa-caret-up' : mytrmode6}"></i></span></th>
                <th scope="col">Category<span style="float: right; cursor: pointer;"><i (click)="byMyTrMode7()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !mytrmode7, 'fa-caret-up' : mytrmode7}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let tr of myTrainingDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{tr.trainingTitle}}</td>
                        <td>{{mytrLevels[in]}}</td>
                        <td>{{tr.startDate.toISOString().slice(0, 10)}}</td>
                        <td>{{tr.endDate.toISOString().slice(0, 10)}}</td>
                        <td>{{tr.payment}}</td>
                        <td>{{tr.coachNSN}}</td>
                        <td>{{tr.categoryTitle}}<span style="float: right; cursor: pointer;"><i *ngIf="isEnded[in]" class="mr-1 fas fa-stamp"></i><i (click)="changemodearr(tr)" [ngClass] = "{'fas' : true, 'fa-caret-down' : !trainingMode[in], 'fa-caret-up' : trainingMode[in]}"></i></span></td>
                    </tr>
                    <tr>
                        <td colspan="8" *ngIf="mytrainingMode[in]">{{tr.description}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div *ngIf="recTable" class="row mt-4">
        <table class="table table-striped w-100">
            <thead>
                <th scope="col">#</th>
                <th scope="col">TrainingTitle<span style="float: right; cursor: pointer;"><i (click)="byRecMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !recmode1, 'fa-caret-up' : recmode1}"></i></span></th>
                <th scope="col">Invitation<span style="float: right; cursor: pointer;"><i (click)="byRecMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !recmode2, 'fa-caret-up' : recmode2}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let rec of recommendationDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{rec.trainingTitle}}</td>
                        <td>{{rec.invitation}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
