<div class="w-75 mx-auto mt-1">
  <!--<button class="btn btn-primary w-100" (click)="openNotifModal()" >Create notification</button>-->

  <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
    <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-primary w-100" (click)="openNotifModal()">Create notification
            <span style="float: right; cursor: pointer;">
                <i title="Create notification" class="fas fa-plus-circle"></i>
            </span>
        </button>
    </div>
    <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byNotifMode1()">Notification text
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !notifMode1, 'fa-caret-up' : notifMode1}"></i>
            </span>
        </button>
    </div>
    <div *ngIf="userMode" style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byNotifMode2()">Employee
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !notifMode2, 'fa-caret-up' : notifMode2}"></i>
            </span>
        </button>
    </div>
    <div *ngIf="!userMode" style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byNotifMode3()">Employer
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !notifMode3, 'fa-caret-up' : notifMode3}"></i>
            </span>
        </button>
    </div>
    <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="byNotifMode4()">Sending date
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !notifMode4, 'fa-caret-up' : notifMode4}"></i>
            </span>
        </button>
    </div>
    <div style="width: 25%; padding: 1rem;">
        <button class="btn btn-secondary w-100" (click)="changeUIMode()">{{interfaceTitle}}
            <span style="float: right; cursor: pointer;">
                <i [ngClass] = "{'fas' : true, 'fa-table' : !interfaceMode, 'fa-th' : interfaceMode}"></i>
            </span>
        </button>
    </div>
  </div>

  <div *ngIf="interfaceMode" style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
    <div style="width: 25%;" *ngFor="let notif of mynotifications let in=index">
        <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
            <div><strong>Notification text: </strong>{{notif?.notificationText}}</div>
            <div><strong>Employee: </strong>{{notif?.employeeNSN}}</div>
            <div><strong>Employer: </strong>{{notif?.employerNSN}}</div>
            <div><strong>Sending date: </strong>{{notif?.sendingDate.toISOString().slice(0, 10)}}</div>
        </div>
    </div>
  </div>

  <table *ngIf="!interfaceMode" class="table table-striped w-100">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Notification text</th>
        <th scope="col">Employee</th>
        <th scope="col">Employer</th>
        <th scope="col">Sending date</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let notif of mynotifications let in=index">
            <tr>
                <td>{{in + 1}}</td>
                <td>{{notif?.notificationText}}</td>
                <td>{{notif?.employeeNSN}}</td>
                <td>{{notif?.employerNSN}}</td>
                <td>{{notif?.sendingDate.toISOString().slice(0, 10)}}</td>
            </tr>
        </ng-container>
    </tbody>
  </table>
</div>

<ng-template #notificationModal let-modal class="w-50">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create training</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
          <label for="notifText">Notification Text</label>
          <input type="text"  class="form-control" id="notifText" placeholder="Enter here notification text" name="trTitle" [(ngModel)]="notifDesc">
      </div>
      <div class="form-group">
          <label for="addEmployerSelect">Employer</label>
          <div class="input-group">
            <div class="w-100">
              <select class="form-control custom-select mt-2" id="addEmployerSelect" name="addEmployer" [(ngModel)]="selEmployer">
                  <option *ngFor="let employer of employersNSN let in=index" [value]="employer">{{employer}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="addEmployeeSelect">Employee</label>
          <div class="input-group">
            <div class="w-100">
              <select class="form-control custom-select mt-2" id="addEmployeeSelect" name="addEmployee" [(ngModel)]="selEmployee">
                  <option *ngFor="let employee of employeesNSN let in=index" [value]="employee">{{employee}}</option>
              </select>
            </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createNotif()">Save</button>
  </div>
</ng-template>