<div style="width: 85%;" class="mx-auto mt-1">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectEeTable()" [disabled]="eeTable" >Employees</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectErTable()" [disabled]="erTable" >Employers</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectCmTable()" [disabled]="cmTable" >Companies</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="selectCtTable()" [disabled]="ctTable" >Categories</button>
        </div>
    </div>

    <div *ngIf="eeTable" class="row mt-4">

        <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Firstname
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode1, 'fa-caret-up' : eemode1}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Lastname
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode2, 'fa-caret-up' : eemode2}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Email
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode3, 'fa-caret-up' : eemode3}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">DevLevel
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode4, 'fa-caret-up' : eemode4}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Experience
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode5, 'fa-caret-up' : eemode5}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Mentor
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode6, 'fa-caret-up' : eemode6}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Company
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byEeMode7()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode7, 'fa-caret-up' : eemode7}"></i>
                    </span>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
            <div style="width: 25%;" *ngFor="let ee of employeeDTOs let in=index">
                <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
                    <div><strong>Firstname: </strong>{{ee.firstname}}</div>
                    <div><strong>Lastname: </strong>{{ee.lastname}}</div>
                    <div><strong>Email: </strong>{{ee.email}}</div>
                    <div><strong>DevLevel: </strong>{{ee.devLevel}}</div>
                    <div><strong>Experience: </strong>{{ee.experience}}</div>
                    <div><strong>Mentor: </strong>{{ee.mentorNSN}}</div>
                    <div><strong>Company: </strong>{{ee.companyName}}</div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Firstname<span style="float: right; cursor: pointer;"><i (click)="byEeMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode1, 'fa-caret-up' : eemode1}"></i></span></th>
                <th scope="col">Lastname<span style="float: right; cursor: pointer;"><i (click)="byEeMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode2, 'fa-caret-up' : eemode2}"></i></span></th>
                <th scope="col">Email<span style="float: right; cursor: pointer;"><i (click)="byEeMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode3, 'fa-caret-up' : eemode3}"></i></span></th>
                <th scope="col">DevLevel<span style="float: right; cursor: pointer;"><i (click)="byEeMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode4, 'fa-caret-up' : eemode4}"></i></span></th>
                <th scope="col">Experience<span style="float: right; cursor: pointer;"><i (click)="byEeMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode5, 'fa-caret-up' : eemode5}"></i></span></th>
                <th scope="col">MentorNSN<span style="float: right; cursor: pointer;"><i (click)="byEeMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode6, 'fa-caret-up' : eemode6}"></i></span></th>
                <th scope="col">CompanyName<span style="float: right; cursor: pointer;"><i (click)="byEeMode7()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !eemode7, 'fa-caret-up' : eemode7}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let ee of employeeDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{ee.firstname}}</td>
                        <td>{{ee.lastname}}</td>
                        <td>{{ee.email}}</td>
                        <td>{{ee.devLevel}}</td>
                        <td>{{ee.experience}}</td>
                        <td>{{ee.mentorNSN}}</td>
                        <td>{{ee.companyName}}<span style="float: right; cursor: pointer;">
                            <i class="fas fa-user-clock" (click)="setEmployeeHr(ee)" title="Set role as HR"></i>
                            <i class="fas fa-users ml-1 mr-1" (click)="setEmployeeMentor(ee)" title="Set role as mentor"></i>
                            <i class="fas fa-trash-alt" (click)="deleteEmployee(ee)" title="Delete employee"></i></span></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>

    <div *ngIf="erTable" class="row mt-4">

        <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Firstname
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byErMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode1, 'fa-caret-up' : ermode1}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Lastname
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byErMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode2, 'fa-caret-up' : ermode2}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Email
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byErMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode3, 'fa-caret-up' : ermode3}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Role
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byErMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode4, 'fa-caret-up' : ermode4}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Company
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byErMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode5, 'fa-caret-up' : ermode5}"></i>
                    </span>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
            <div style="width: 25%;" *ngFor="let er of employerDTOs let in=index">
                <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
                    <div><strong>Firstname: </strong>{{er.firstname}}</div>
                    <div><strong>Lastname: </strong>{{er.lastname}}</div>
                    <div><strong>Email: </strong>{{er.email}}</div>
                    <div><strong>Role: </strong>{{er.role}}</div>
                    <div><strong>Company: </strong>{{er.companyName}}</div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Firstname<span style="float: right; cursor: pointer;"><i (click)="byErMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode1, 'fa-caret-up' : ermode1}"></i></span></th>
                <th scope="col">Lastname<span style="float: right; cursor: pointer;"><i (click)="byErMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode2, 'fa-caret-up' : ermode2}"></i></span></th>
                <th scope="col">Email<span style="float: right; cursor: pointer;"><i (click)="byErMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode3, 'fa-caret-up' : ermode3}"></i></span></th>
                <th scope="col">Role<span style="float: right; cursor: pointer;"><i (click)="byErMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode4, 'fa-caret-up' : ermode4}"></i></span></th>
                <th scope="col">CompanyName<span style="float: right; cursor: pointer;"><i (click)="byErMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ermode5, 'fa-caret-up' : ermode5}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let er of employerDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{er.firstname}}</td>
                        <td>{{er.lastname}}</td>
                        <td>{{er.email}}</td>
                        <td>{{er.role}}</td>
                        <td>{{er.companyName}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>

    <div *ngIf="cmTable" class="row mt-4">

        <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-warning w-100">Create company
                    <span style="float: right; cursor: pointer;">
                        <i title="Create company" (click)="openCreateComModal()" class="fas fa-plus-circle"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Name
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCmMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode1, 'fa-caret-up' : cmmode1}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">EmployeesCount
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCmMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode2, 'fa-caret-up' : cmmode2}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Description
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCmMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode3, 'fa-caret-up' : cmmode3}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Specialization
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCmMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode4, 'fa-caret-up' : cmmode4}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Address
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCmMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode5, 'fa-caret-up' : cmmode5}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">ContactPhone
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCmMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode6, 'fa-caret-up' : cmmode6}"></i>
                    </span>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
            <div style="width: 25%;" *ngFor="let cm of companyDTOs let in=index">
                <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
                    <div><strong>Name: </strong>{{cm.name}}</div>
                    <div><strong>EmployeesCount: </strong>{{cm.employeesCount}}</div>
                    <div><strong>Description: </strong>{{cm.description}}</div>
                    <div><strong>Specialization: </strong>{{cm.specialization}}</div>
                    <div><strong>Address: </strong>{{cm.address}}</div>
                    <div><strong>ContactPhone: </strong>{{cm.contactPhone}}</div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col">#<span style="float: right; cursor: pointer;"><i (click)="openCreateComModal()" class="fas fa-plus-circle"></i></span></th>
                <th scope="col">Name<span style="float: right; cursor: pointer;"><i (click)="byCmMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode1, 'fa-caret-up' : cmmode1}"></i></span></th>
                <th scope="col">EmployeesCount<span style="float: right; cursor: pointer;"><i (click)="byCmMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode2, 'fa-caret-up' : cmmode2}"></i></span></th>
                <th scope="col">Description<span style="float: right; cursor: pointer;"><i (click)="byCmMode3()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode3, 'fa-caret-up' : cmmode3}"></i></span></th>
                <th scope="col">Specialization<span style="float: right; cursor: pointer;"><i (click)="byCmMode4()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode4, 'fa-caret-up' : cmmode4}"></i></span></th>
                <th scope="col">Address<span style="float: right; cursor: pointer;"><i (click)="byCmMode5()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode5, 'fa-caret-up' : cmmode5}"></i></span></th>
                <th scope="col">ContactPhone<span style="float: right; cursor: pointer;"><i (click)="byCmMode6()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !cmmode6, 'fa-caret-up' : cmmode6}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let cm of companyDTOs let in=index">
                    <tr>
                        <td style="width: 5%;">{{in + 1}}</td>
                        <td style="width: 14%;">{{cm.name}}</td>
                        <td style="width: 14%;">{{cm.employeesCount}}</td>
                        <td>{{cm.description}}</td>
                        <td style="width: 14%;">{{cm.specialization}}</td>
                        <td style="width: 14%;">{{cm.address}}</td>
                        <td style="width: 14%;">{{cm.contactPhone}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>

    <div *ngIf="ctTable" class="row mt-4">

        <div style="display: flex; width: 100%; flex-wrap: wrap; border: limegreen 1px solid; border-radius: 5px;">
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-warning w-100">Create category
                    <span style="float: right; cursor: pointer;">
                        <i title="Create category" (click)="openCreateCatModal()" class="fas fa-plus-circle"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Title
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCtMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ctmode1, 'fa-caret-up' : ctmode1}"></i>
                    </span>
                </button>
            </div>
            <div style="width: 25%; padding: 1rem;">
                <button class="btn btn-secondary w-100">Description
                    <span style="float: right; cursor: pointer;">
                        <i (click)="byCtMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ctmode2, 'fa-caret-up' : ctmode2}"></i>
                    </span>
                </button>
            </div>
        </div>

        <div style="display: flex; width: 100%; justify-content: left; flex-wrap: wrap;">
            <div style="width: 25%;" *ngFor="let ct of categoryDTOs let in=index">
                <div style="margin: .5rem; padding: .5rem; border: gray 1px solid; border-radius: 5px;">
                    <div><strong>Title: </strong>{{ct.title}}</div>
                    <div><strong>Description: </strong>{{ct.description}}</div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped w-100">
            <thead>
                <th scope="col">#<span style="float: right; cursor: pointer;"><i (click)="openCreateCatModal()" class="fas fa-plus-circle"></i></span></th>
                <th scope="col">Title<span style="float: right; cursor: pointer;"><i (click)="byCtMode1()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ctmode1, 'fa-caret-up' : ctmode1}"></i></span></th>
                <th scope="col">Description<span style="float: right; cursor: pointer;"><i (click)="byCtMode2()" [ngClass] = "{'fas' : true, 'fa-caret-down' : !ctmode2, 'fa-caret-up' : ctmode2}"></i></span></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let ct of categoryDTOs let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{ct.title}}</td>
                        <td>{{ct.description}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>-->
    </div>
</div>

<ng-template #comModal let-modal class="w-50">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create company</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="CompanyName">Company Name</label>
            <input type="text" class="form-control" id="CompanyName" placeholder="Enter here company name" name="CompanyName" [(ngModel)]="newCompanyDTO.name">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" placeholder="Enter here description" name="Description" [(ngModel)]="newCompanyDTO.description">
        </div>
        <div class="form-group">
            <label for="EmployeesCount">Employees Count</label>
            <input type="number" min="1" max="10000" class="form-control" id="EmployeesCount" placeholder="Enter here employee count" name="EmployeesCount" [(ngModel)]="newCompanyDTO.employeesCount">
        </div>
        <div class="form-group">
            <label for="Specialization">Specialization</label>
            <input type="text" class="form-control" id="Specialization" placeholder="Enter here specialization" name="Specialization" [(ngModel)]="newCompanyDTO.specialization">
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" class="form-control" id="Address" placeholder="Enter here address" name="Address" [(ngModel)]="newCompanyDTO.address">
        </div>
        <div class="form-group">
            <label for="ContactPhone">Contact Phone</label>
            <input type="text" class="form-control" id="ContactPhone" placeholder="Enter here contact phone" name="ContactPhone" [(ngModel)]="newCompanyDTO.contactPhone">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createCompany()">Save</button>
    </div>
  </ng-template>

  <ng-template #catModal let-modal class="w-50">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="Categorytitle">Category title</label>
            <input type="text" class="form-control" id="Categorytitle" placeholder="Enter here company name" name="Categorytitle" [(ngModel)]="newCategoryDTO.title">
        </div>
        <div class="form-group">
            <label for="CategoryDescription">Description</label>
            <input type="text" class="form-control" id="CategoryDescription" placeholder="Enter here description" name="CategoryDescription" [(ngModel)]="newCategoryDTO.description">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createCategory()">Save</button>
    </div>
  </ng-template>

