
<div class="bgImg" style="height: 92vh;">
    <div class="btn-group-vertical w-25 mt-5" style="float: left;">
        <button type="button" class="btn btn-primary" routerLink="/matrix">Skill Matrix</button>
        <button type="button" *ngIf="!roleMode" class="btn btn-primary" routerLink="/roadmap">Skill Roadmap</button>
        <button type="button" *ngIf="roleMode" class="btn btn-primary" (click)="openCloseSelect()">Skill Roadmap</button>
        <div *ngIf="empSelectMode" style="width: 100%; background: lightblue; display: grid; justify-content: center; padding: 10px;">
            <h4 style="margin-bottom: 10px; margin-top: 10px;">Choose employee</h4>
            <select [ngModelOptions]="{standalone: true}" style="margin-bottom: 10px;"
                [(ngModel)]="selectedEmployee">
                <option [ngValue]="emp" *ngFor="let emp of employeeNSNs">{{emp}}</option>
            </select>
            <button type="button" class="btn btn-primary dropup" (click)="selectEmpRoadMap()" style="margin-bottom: 10px;">Submit</button>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/trainings">Training</button>
        <button type="button" class="btn btn-primary" routerLink="/trmembers">Training Members</button>
        <button type="button" class="btn btn-primary" routerLink="/mycertif">Certificates</button>
        <button type="button" class="btn btn-primary" routerLink="/management">Employees management</button>
        <button type="button" class="btn btn-primary" routerLink="/notif">Notifications</button>
        <button type="button" *ngIf="!roleMode" class="btn btn-primary" routerLink="/wtraining">Training</button>
        <button type="button" *ngIf="roleMode" class="btn btn-primary" routerLink="/hrtraining">Training</button>
        <button type="button" *ngIf="!roleMode" class="btn btn-primary" routerLink="/wcertif">Certificates</button>
        <button type="button" *ngIf="roleMode" class="btn btn-primary" routerLink="/hrcertif">Certificates</button>
        <button type="button" *ngIf="!roleMode" class="btn btn-primary" routerLink="/wmatrix">Skill Matrix</button>
        <button type="button" *ngIf="roleMode" class="btn btn-primary" routerLink="/hrmatrix">Skill Matrix</button>
        <button type="button" *ngIf="!roleMode" class="btn btn-primary" routerLink="/wtemplate">Template</button>
        <button type="button" *ngIf="roleMode" class="btn btn-primary" routerLink="/hrtemplate">Template</button>
        <button type="button" *ngIf="!roleMode" class="btn btn-primary" routerLink="/wmanagement">Management</button>
        <button type="button" *ngIf="roleMode" class="btn btn-primary" routerLink="/hrmanagement">Management</button>
        <button type="button" class="btn btn-primary dropup" (click)="changeachievMode()">
            Statistics<span style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !achievMode, 'fa-caret-up' : achievMode}"></i></span>
        </button>
        <a *ngIf="achievMode" class="btn btn-primary" routerLink="/ownachievs">My achievements</a>
        <a *ngIf="achievMode" class="btn btn-primary" routerLink="/antachievs">Another user achievements</a>
        <a *ngIf="achievMode" class="btn btn-primary" routerLink="/compareachievs">Compare achievements</a>
    </div>
    <div class="w-50 mt-5" style="float: left; background-color: gray;">
    </div>
    <div class="w-25 mt-5" style="float: left;">
        <div class="card mx-auto bg-secondary" style="width:300px; position: relative;">
          <img class="card-img-top mx-auto" style="width:250px; height: 300px;" src="https://www.clker.com/cliparts/g/l/R/7/h/u/teamstijl-person-icon-blue.svg" alt="Card image">
          <div class="card-body">
              <h4 *ngIf="roleMode" class="card-title" style="text-align: center;">{{employerDTO.firstname + ' ' + employerDTO.lastname}}</h4>
              <h4 *ngIf="!roleMode" class="card-title" style="text-align: center;">{{employeeDTO.firstname + ' ' + employeeDTO.lastname}}</h4>
              <h5 *ngIf="roleMode" class="card-title" style="text-align: center;">{{employerDTO.email}}</h5>
              <h5 *ngIf="!roleMode" class="card-title" style="text-align: center;">{{employeeDTO.email}}</h5>
              <h5 *ngIf="roleMode" class="card-title" style="text-align: center;">{{employerDTO.role}}</h5>
              <h5 *ngIf="!roleMode" class="card-title" style="text-align: center;">{{employeeDTO.role}}</h5>
              <h5 *ngIf="!roleMode" class="card-title" style="text-align: center;">{{employeeDTO.devLevel}}</h5>
              <h5 *ngIf="!roleMode" class="card-title" style="text-align: center;">{{'Experience ' + employeeDTO.experience + ' year(s)'}}</h5>
              <h5 *ngIf="!roleMode" class="card-title" style="text-align: center;">{{'Mentor: ' + employeeDTO.mentorNSN}}</h5>
          </div>
        </div>
    </div>
</div>
