<div class="w-75 mx-auto mt-4">
  <div class="row pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px; font-weight: 700; font-size: 32px;">
    <div style="text-align: center;" class="w-100">{{trainingDTO.trainingTitle}}<span style="float: right; cursor: pointer;"><i (click)="createTrainingMember()" title="Connect to training" class="far fa-plus-square"></i></span></div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div style="text-align: left;" class="w-100">{{trainingDTO.description}}</div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div class="d-flex w-100">
      <div style="width: 40%; text-align: center;">{{trainingDTO.startDate.toISOString().slice(0, 10)}}</div>
      <div style="width: 20%; text-align: center;">---</div>
      <div style="width: 40%; text-align: center;">{{trainingDTO.endDate.toISOString().slice(0, 10)}}</div>
    </div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div class="d-flex w-100">
      <div style="width: 50%">TrainingLevel:</div>
      <div style="flex-grow: 1;">{{trainingDTO.trainingLevel}}</div>
    </div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div class="d-flex w-100">
      <div style="width: 50%">Payment:</div>
      <div style="flex-grow: 1;">{{trainingDTO.payment}}</div>
    </div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div class="d-flex w-100">
      <div style="width: 50%">Category:</div>
      <div style="flex-grow: 1;">{{trainingDTO.categoryTitle}}</div>
    </div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div class="d-flex w-100">
      <div style="width: 50%">Coach:</div>
      <div style="flex-grow: 1;">{{trainingDTO.coachNSN}}</div>
    </div>
  </div>
  <div class="row mt-2 pl-2 pr-2 pt-3 pb-3" style="border: #333333 solid 1px; border-radius: 10px;">
    <div class="d-flex w-100">
      <div style="width: 50%">CoachEmail:</div>
      <div style="flex-grow: 1;">{{trainingDTO.coachEmail}}</div>
    </div>
  </div>
</div>
    <!--<div class="row">
        <button class="btn btn-primary w-100" (click)="openCreateTrModal()">Create new training</button>
    </div>
    <div class="row">
        <select class="form-control custom-select mt-2" id="trCategorySelect" name="trCat" (change)="selectCateg($event.target.value)">
            <option *ngFor="let categ of categs let in=index" [value]="categ">{{categ}}</option>
        </select>
    </div>
    <div class="row">
        <table class="table table-striped mt-2">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Training title</th>
                <th scope="col">startDate</th>
                <th scope="col">endDate</th>
                <th scope="col">trainingLevel</th>
                <th scope="col">payment</th>
                <th scope="col">coachEmail</th>
                <th scope="col">categoryName</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let training of showTrainingsDTO let in=index">
                    <tr>
                        <td>{{in + 1}}</td>
                        <td>{{training.trainingTitle}}</td>
                        <td>{{training.startDate.toISOString().slice(0, 10)}}</td>
                        <td>{{training.endDate.toISOString().slice(0, 10)}}</td>
                        <td>{{training.trainingLevel}}</td>
                        <td>{{training.payment}}</td>
                        <td>{{training.coachEmail}}</td>
                        <td>{{training.categoryTitle}}<span style="float: right; cursor: pointer;">
                          <i class="fas fa-user-plus mr-1" title="Conect to training"></i>
                          <i class="fas fa-volume-up mr-1" title="Create recommendation" (click)="createRecommend(training)" ></i>
                          <i [ngClass] = "{'fas' : true, 'fa-caret-down' : !trainingMode[in], 'fa-caret-up' : trainingMode[in]}" (click)="changemodearr(training)" title="Show/close description"></i></span></td>
                    </tr>
                    <tr>
                        <td colspan="8" *ngIf="trainingMode[in]">{{training.description}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<ng-template #trainingModal let-modal class="w-50">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create training</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="trainingTitle">Training title</label>
            <input type="text" class="form-control" id="trainingTitle" placeholder="Enter here training title" name="trTitle" [(ngModel)]="addedTraining.trainingTitle">
        </div>
        <div class="form-group">
            <label for="trainingDescription">Training description</label>
            <input type="text" class="form-control" id="trainingDescription" placeholder="Enter here training description" name="trDesc" [(ngModel)]="addedTraining.description">
        </div>
        <div class="form-group">
            <label for="skillSelect">Training category</label>
            <div class="input-group">
              <div class="w-100">
                <select class="form-control custom-select mt-2" id="addTrCategorySelect" name="addTrCat" [(ngModel)]="addedTraining.categoryName">
                    <option *ngFor="let categ of categs let in=index" [value]="categ">{{categ}}</option>
                </select>
              </div>
            </div>
          </div>
        <div class="form-row">
            <div class="form-group col">
              <label for="trStartDate">Start Date</label>
              <input type="date" class="form-control" id="trStartDate" placeholder="Enter start date" name="trStart" [(ngModel)]="addedTraining.startDate">
            </div>
            <div class="form-group col">
              <label for="trEndDate">End Date</label>
              <input type="date" class="form-control" id="trEndDate" placeholder="Enter end date" name="trEnd" [(ngModel)]="addedTraining.endDate">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
              <label for="trLevel">Training Level</label>
              <input type="number" min="1" max="5" step="1" class="form-control" id="trLevel" placeholder="Enter training level" name="trLevel" [(ngModel)]="addedTraining.trainingLevel">
            </div>
            <div class="form-group col">
              <label for="trPayment">Payment</label>
              <input type="number" min="0" max="1000000" step="1000" class="form-control" id="trPayment" placeholder="Enter payment" name="trPayment" [(ngModel)]="addedTraining.payment">
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveTraining()">Save</button>
    </div>
  </ng-template>

  <ng-template #recommendgModal let-modal class="w-50">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create recommendation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="trainingInvitation">Invitation</label>
            <input type="text" class="form-control" id="trainingInvitation" placeholder="Enter here invitation text" name="trTitle" [(ngModel)]="addedTraining.trainingTitle">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark">Save</button>
    </div>
  </ng-template>-->