<form class="w-50 mx-auto mt-1">
    <div class="form-group">
        <div>
            <label for="CommentText">User Email</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email" name="useremail" [(ngModel)]="employeeDTO.email">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="CommentText">User Pass</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="userpass" [(ngModel)]="employeeDTO.password">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="CommentText">Firstname</label>
          <input type="text" class="form-control" placeholder="Enter first name" id="fname" name="firstname" [(ngModel)]="employeeDTO.firstname">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="CommentText">Lastname</label>
          <input type="text" class="form-control" placeholder="Enter lastname" id="lname" name="lastname" [(ngModel)]="employeeDTO.lastname">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="CommentText">DevLevel</label>
          <input type="text" class="form-control" placeholder="Enter devLevel" id="dlevel" name="devLevel" [(ngModel)]="employeeDTO.devLevel">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="CommentText">Experience</label>
          <input type="number" class="form-control" placeholder="Enter experience" id="experience" name="experience" [(ngModel)]="employeeDTO.experience">
        </div>
    </div>

    <div class="form-group">
        <label for="Company">Company</label>
        <div class="input-group">
          <div class="w-100">
            <select class="form-control custom-select" id="Company" name="Company" [(ngModel)]="employeeDTO.idCompany">
              <option *ngFor="let cm of companyDTOs let in=index" [value]="cm.id">{{cm.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="Mentor">Mentor</label>
        <div class="input-group">
          <div class="w-100">
            <select class="form-control custom-select" id="Company" name="Company" [(ngModel)]="employeeDTO.idMentor">
              <option *ngFor="let em of employerDTOs let in=index" [value]="em.id">{{em.firstname + " " + em.lastname}}</option>
            </select>
          </div>
        </div>
      </div>
    <button type="submit" class="btn btn-primary" (click)="signup()">Submit</button>
</form>
